  /* Dont Touch!!!

    font-family: 'Karla', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'EB Garamond', serif; 
*/
  
  body {
      padding: 0px;
      margin: 0;
      /* background-color: */
      /* background-image: linear-gradient( rgba(255, 53, 172) rgba(255, 178, 178)); */
      font-family: 'Karla', sans-serif;
  }
  
  .page {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      height: 90vh;
      background-image: white;
      font-family: 'Karla', sans-serif;
  }
  
  .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgb(0, 123, 255);
      border-radius: 22px;
      width: 30vw;
      font-family: 'Raleway', sans-serif;
      /* fonfont-family: 'Karla', sans-serif;t-family: 'Quicksand', sans-serif; */
  }
  
  .email,
  .password {
      display: flex;
      flex-flow: row;
      align-items: center;
      font-family: 'Rubik', sans-serif;
      /* width: 100%; */
  }
  
  #emailInput,
  #passwordInput {
      height: 20px;
      width: 250px;
      border: solid white;
      border-radius: 22px;
      padding: 5px;
      font-family: 'Karla', sans-serif;
  }
  
  .box {
      padding: 10px 5px;
      font-family: 'Karla', sans-serif;
  }
  
  .break {
      height: 15px;
  }
  
  #submit_button {
      border-radius: 22px;
      border: white solid;
      background-color: white;
      width: 100%;
      font-family: 'Karla', sans-serif;
      
  }
  
  #submit_button:hover {
      cursor: pointer;
  }
  
  #customBtn {
      display: inline-block;
      background: white;
      color: #444;
      width: 190px;
      border-radius: 5px;
      border: thin solid #888;
      box-shadow: 1px 1px 1px grey;
      white-space: nowrap;
      font-family: 'Karla', sans-serif;
  }
  
  #customBtn:hover {
      cursor: pointer;
      font-family: 'Karla', sans-serif;
  }
  /* @media(max-width: 375px) {
    /* #emailInput #passwordInput {
        width: 
    } */
  /* } */
  
  .signUp {
      display: flex;
      flex-direction: column;
      align-items: center;
      /* background-image: linear-gradient( 200deg, rgb(253, 153, 212), rgb(255, 176, 176, 0.555)); */
      border-radius: 22px;
      width: 30vw;
      font-family: 'Rubik', sans-serif;
  }
  
  .title {
      margin: 0px;
  }
  
  #title,
  #or {
      font-family: 'Karla', sans-serif;
      font-size: 30px;
      margin-top: 10px;
  }
  
  a:link {
      text-decoration: none;
  }
  
  a {
      color: black;
  }

  #appleid-signin:hover{
    cursor: pointer;
  }

  #appleid-signin{
      outline: none;
}
  
  @media (max-width: 950px) {
      .box {
          width: 400px;
      }
  }
  
  @media (max-width: 500px) {
      .box {
          width: 90vw;
      }
  }